# Use common.env file to change default settings.
# If exists it is executed by bash with source command during execution of other scripts.
# Save this sample file as common.env,
# uncomment required variables and set proper values.

# ---
# Set this to auto configure other variables only
# No default value
#_CONTRAIL_REGISTRY_IP=10.0.2.15

# ---
# Contrail version to pull/tag containers, to get packages
# Default: 4.0.1.0-3
#CONTRAIL_VERSION=4.0.1.0-32

# ---
# Address of docker regisry to pull/push containers
# Default: $_CONTRAIL_REGISTRY_IP:5000
#   or: <host_ip>:5000
#     if _CONTRAIL_REGISTRY_IP is not specified
#CONTRAIL_REGISTRY=10.0.2.15:5000

# ---
# Url of rpm repository to get Contrail packages
# Default: http://$_CONTRAIL_REGISTRY_IP/$CONTRAIL_VERSION
#   or: htpt://<host_ip>/$CONTRAIL_VERSION
#     if _CONTRAIL_REGISTRY_IP is not specified
#CONTRAIL_REPOSITORY=http://10.0.2.15/contrail-$CONTRAIL_VERSION
